/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* ---- Base Rules ---- */
body {
  font-family: "Inter", sans-serif;

  background: rgb(136, 203, 171);
  background: linear-gradient(
    0deg,
    rgba(136, 203, 171, 1) 0%,
    rgba(0, 13, 60, 1) 100%
  );
  margin: 0;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Typeography General*/

p {
  line-height: 1.6em;
  color: #eee;
}

/* ---- Layout Rules ---- */
main {
  margin: 10vh 1em 10vh;
}

.main-hero {
  min-height: 40vh;
  padding-top: 3em;
}

section {
  position: relative;
  min-height: 80vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/

.navbar__menu {
  background-color: transparents;
}

.navbar__menu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  transition: all 0.5s ease;

  z-index: 100;
}
.navbar__menu ul.hidden {
  transform: translateY(-100%) !important;
}

.navbar__menu ul.active.hidden {
  transform: translate(-50%, -150%) !important;
}

.navbar__menu ul.active {
  box-shadow: 0px 0px 14px 0px #ffffff63;
  margin: 8px auto;
  width: 99%;
  background-color: #eae9fc;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  padding: 25px;
}

@media (max-width: 600px) {
  .navbar__menu ul.active {
    width: 95%;
    margin: 10px auto;
    padding: 10px;
  }
}

.navbar__menu li {
  display: inline-block;
}

.navbar__menu .menu__link {
  border-radius: 8px;
  display: block;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

@media (max-width: 600px) {
  .navbar__menu .menu__link {
    font-size: 12px;
  }
}

.navbar__menu ul.active .menu__link {
  color: black;
}

.navbar__menu .menu__link:hover {
  background: #b6b6b6;
  color: #fff;
  transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.landing {
  position: relative;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding: 0px 50px 120px;
}

.landing .image img {
  position: relative;
  width: 600px;
  animation: move 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
  section .image {
    display: none;
  }
}

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transtion);
}

.landing .go-down:hover {
  color: var(--main-color-alt);
}

.landing .text {
  flex: 1;
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}

.landing .text h1 {
  font-size: 50px;
  margin: 0;
  font-weight: 900;
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}

.landing .text p {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #bababa;
  max-width: 500px;
}

@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}

/*  */
.landing__container {
  padding: 1em;
  text-align: left;
}

@media only screen and (min-width: 35em) {
  .landing__container {
    padding: 4em;
  }
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

/* Background Circles */

section .landing__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

section:nth-of-type(odd) .landing__container::before {
  content: "";
  background: rgba(255, 255, 255, 0.187);
  position: absolute;
  z-index: -5;
  height: 20vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  top: 3em;
  right: 3em;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 20vw;
  bottom: -5em;
  z-index: -5;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section h2 {
  font-size: 50px;
  font-weight: 900;
  padding-bottom: 20px;
  text-align: left;
}
section p {
  text-align: left;
}
section img.image {
  animation: up-and-down 5s linear infinite alternate;
}
/* ---- Theme State Rules ---- */

/* Section Active Styles */
section.active {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

section.active .landing__container::before {
  opacity: 1;
  animation: rotate 4s linear 0s infinite forwards;
}

section.active .landing__container::after {
  opacity: 1;
  animation: rotate 5s linear 0s infinite forwards reverse;
}

/* portfolio section */
.portfolio {
  margin: 80px auto;
}

.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 30px;
}

@media (max-width: 778px) {
  .portfolio .portfolio-content {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
@media (min-width: 779px) and (max-width: 991px) {
  .portfolio .portfolio-content {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

.portfolio .portfolio-content .card {
  background-color: transparent;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 30px -10px 65px rgba(255, 255, 255, 0.081);
}

.portfolio .portfolio-content .card figure {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 300px;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
  scale: 1.5;
}

.portfolio .portfolio-content .card .info {
  padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
  margin: 0;
  font-weight: 900;
}

.portfolio .portfolio-content .card .info {
  color: #414040;
  font-size: 30px;
  line-height: 1.6;
}

.portfolio .portfolio-content .card .info p {
  color: #e3e3e3;
  font-size: 18px;
}

@media (max-width: 700px) {
  .portfolio .portfolio-content .card .info h3 {
    text-align: center;
  }
}

/* start about */

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}
.about .about-content {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}

.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}

@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}

.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}

@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}

.about .about-content .image img {
  max-width: 100%;
}

.about .about-content .text {
  flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 28px;
  font-size: 20px;
  margin-bottom: 30px;
}

.about .about-content .text p:last-of-type {
  line-height: 28px;
  font-size: 20px;
}

@media (max-width: 600px) {
  .about .about-content .text p:first-of-type,
  .about .about-content .text p:last-of-type {
    font-size: 15px;
    font-weight: 500;
  }
}

/* Footer Styles */
.page__footer {
  background: #000;
  padding: 1em;
  color: #fff;
}

.page__footer p {
  color: #fff;
  text-align: center;
}

/* scroll to top */

.scroll_to_top {
  opacity: 0;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  position: fixed;
  bottom: 20;
  right: 20;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  box-shadow: 0px 0px 14px 0px #ffffff63;
}

.scroll_to_top:hover {
  background-color: #eae9fc;
}

.scroll_to_top.hide {
  opacity: 1;
}

.scroll_to_top::before {
  content: "";

  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 3px solid;
  border-color: #333 transparent transparent #333;
  transform: rotate(45deg);
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-1em) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}

@keyframes move {
  from {
    transform: rotate(0deg) translate(-1em) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}
@keyframes up-and-down {
  from {
    transform: translateY(-0.5em);
  }
  to {
    transform: translateY(0.5em);
  }
}
